<html>
  <head>
    <title>Check attacks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Platform</h1>
      <br>
      <form action="http://localhost:5000/result" method="post">
        <input type="text" placeholder="platform" name="Platform">
         
        <input class="btn btn-default" type="submit" value="Check">
      </form>
    </div>
  </body>
</html>